{% extends 'base.html' %}


{% block title %}Registration{% endblock %}


{% block header %}
{% endblock %}


{% block main %}
  <h4 class="sub-header">Register a new user</h4>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div class="field-wrapper">
            <p>
              {{ field.errors }}
              {{ field.label_tag }}
              {% if field.field.required %}
              *
              {% endif %}
              <br/>
              {{ field }}
              {% if field.help_text %}
                <br/>{{ field.help_text|safe }}
              {% endif %}
            </p>
          </div>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
{{ args.username }}
{% endblock %}
