{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/homepage/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'homepage/css/base.css' %}" rel="stylesheet">

  {% block extra_head %}{% endblock extra_head %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Volodymyr Desyk</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'homepage:index' %}">Home</a></li>
          </ul>
        </div>
      {% block header %}
      {% endblock %}
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0 sidebar">
        {% block left_sidebar %}
        {% endblock %}
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-7 col-md-offset-2 col-lg-8 col-lg-offset-2 main">
        {% block main %}
        {% endblock %}
      </div>

      <div class="col-sm-0 col-sm-offset-10 col-md-3 col-md-offset-9 col-lg-2 col-lg-offset-10 sidebar hidden-sm">
        {% block right_sidebar %}
        {% endblock %}
      </div>
    </div>
  </div>

  <footer  class="footer">
    <div class="container">
      <p class="text-muted">© 2015 Volodymyr Desyk</p>
    </div>
  </footer>

</body>
</html>
